@media(min-width: 1920px) {
	.medical-info-haracteristics {
		&__background {
			width: 79.5%;
		}
	}

	.tab-section {
		&-tab {
			&__background {
				width: 79.5%;
			}
		}
	}

	.about-us-comfort {
		&__background {
			width: 79.5%;
		}
	}
}

@media(max-width: 1800px) {
	.about-company {
		&__background {
			width: 100%;
		}
	}

	.why-are-we {
		// &__background {
		// 	display: none;
		// }
		
		&__big-circle {
			display: none;
		}

		&__small-circle {
			display: none;
		}

		&__background-item {
			display: none;
		}

		&__item {
			max-width: none;
		}
	}

	.stages-work {
		&__background {
			width: 100%;
		}
	}

	.reviews {
		&__background {
			display: none;
		}

		&__left {
			max-width: none;
		}
	}

	.medical-info-haracteristics {
		&__background {
			width: 100%;
		}

		&__texts {
			padding-right: 0;
		}
	}

	.tab-section {
		&-tab {
			&__background {
				width: 100%;
			}
		}
	}

	.about-us-comfort {
		&__background {
			width: 100%;
			border-radius: 0;
		}
	}
}

@media(max-width: 1700px) {
	.intro {
		&-slide {
			&__navigation-wrapper {
				position: relative;
				height: 0;
			}
	
			&__navigation.swiper-pagination {
				position: static !important;
			}
		}
	}

	.contacts-info {
		&__background {
			width: 100%;
		}
	}

	.contacts-feedback {
		&__background {
			width: 100%;
		}
	}
}

@media(max-width: 1600px) {
	.about-us-company {
		&__background {
			width: 100%;
		}
	}
}

@media(max-width: 1400px) {
	.intro {
		&__slide {
			&-right {
				margin-left: 22px;
			}
		}

		&-slide {
			&__link {
				left: -2px;
			}

			&__img {
				width: 100%;
			}
		}
	}

	.contacts-feedback {
		&__left {
			width: auto;
			height: auto;
			margin-right: 0;
		}

		&__left {
			width: 60%;
			margin-right: 30px;
		}

		&__right {
			width: 40%;
		}

		&__img {
			position: static;
		}
	}
}

@media(max-width: 1200px) {
   .about-company {
		&__left {
			padding: 0;
			margin-right: 50px;
		}
    }

	.why-are-we {
		&__background {
			left: 0;
			height: 100%;
			right: 0;
			width: auto;
		}

		&__big-circle {
			display: block;
			width: 504px;
			height: 504px;
			background-color: $light;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			left: -252px;
		}
	}

   .write-us {
		&__left {
			// margin-right: 0;
			margin-right: 30px;
		}

		&__background-img {
			img {
				max-width: 100%;
			}
		}
	}

	.about-us-company {
		&__inner {
			padding-bottom: 54px;
			padding-top: 0;
		}

		&__background {
			width: 556px;
			height: 556px;
			border-radius: 100%;
			top: auto;
			bottom: 0;
			left: -190px;
		}
	}
}

@media(max-width: 1150px) {
	.header {
		&__wrapper-btn {
			display: none;
		}
	}

	.medical-info-haracteristics {
		&__texts {
			margin-left: 20px;
		}
	}
}

@media(max-width: 1100px) {
	.header {
		&__wrapper-btn {
			display: none;
		}
	}

	.stages-work {
		&__tab {
			width: 50%;
			
			&.active {
				width: 50%;
			}

			&:nth-child(3) {
				.stages-work__tab-minor {
					border-width: 2px 2px 2px 2px;
				}
			}
		}
	}

	.footer {
		&__top {
			display: block;
		}

		&__info {
			width: 100%;
			margin-bottom: 25px;
		}

		&__center {
			grid-template-columns: 67.1% 26.9%;
		}
	}

	.medical-info {
		&__inner {
			align-items: center;
		}

		&__info {
			margin-right: 40px;
		}
	}
	
	.medical-item {
		&__inner {
			align-items: center;
		}

		// &__btns {
		// 	margin-top: 20px;
		// }

		&--content-left {
			.medical-item__info {
				margin-right: 40px;
			}
		}

		&--content-right {
			.medical-item__img {
				margin-right: 40px;
			}
		}
	}

	.tab-section {
		&-children {
			&__wrapper-tabs-navigation + &__tabs-content {
				max-width: 650px;
			}

			&-tab__info {
				margin-right: 20px;
			}
		}
	}

	.contacts-info {
		&__inner {
			grid-template-columns: repeat(3, 1fr);
			column-gap: 30px;
		}

		&__center {
			iframe {
				height: 340px;
			}
		}
	}

	.about-us-connection {
		&__items {
			display: block;
		}

		&__right {
			max-width: 600px;
		}

		&__item-first {
			display: none;
		}

		&__item {
			width: 100%;
		}
	}
}

@media(max-width: 992px) {
    .about-company {
		&__inner {
			flex-wrap: wrap;
		}

		&__left, &__right {
			width: 100%;
		}

		&__left {
			margin-right: 20px;
		}

		&__img {
			display: none;
		}

		&__text {
			img {
				display: block;
				max-width: 100%;
				margin-bottom: 20px;
			}
		}

		&__wrapper-link {
			display: none;
		}

		&__wrapper-btn {
			display: block;
		}

		&__wrapper-btn {
			margin-top: 30px;
		}
	}

	.write-us {
		&__left {
			margin-left: 0;
		}

		&__right {
			padding-top: 100px;
		}
	}

	.footer {
		&__center {
			grid-template-columns: 1fr;
		}

		&__nav {
			grid-template-columns: repeat(2, 1fr);
			margin-bottom: 35px;
			column-gap: 20px;
		}

		&-nav-item__list {
			column-gap: 20px;
		}

		&-nav-item__list-column {
			display: grid;
			grid-template-columns: 40.9% 45.5%;
			justify-content: space-between;
		}

		&__opening-hours {
			width: 46%;
		}
	}

	.medical-info-haracteristics {
		&__inner {
			display: block;
		}

		&__imgs {
			display: flex;
			margin: 0 -15px;
			margin-bottom: 30px;
		}

		&__img {
			width: 50%;
			margin-bottom: 0;
			padding: 0 15px;
		}

		&__texts {
			max-width: none;
			margin-left: 0;
		}
	}

	.tab-section {
		&__children-tabs {
			display: block;
		}

		&-children {
			&__wrapper-tabs-navigation {
				flex-direction: row;
				margin-right: 0;
				margin-bottom: 20px;
			}

			// &__wrapper-tabs-navigation + &__tabs-content {
			// 	.tab-section-children-tab__info {
			// 		margin-right: 118px;
			// 	}
			// }

			// &__tabs-navigation {
			// 	margin-bottom: 20px;
			// }

			&__tabs-content {
				max-width: none !important;
			}

			&-tab {
				&__wrapper-btn {
					margin-right: 39px;
				}

				&__info {
					margin-right: 20px;
				}
			}
		}
	}
}

@media(max-width: 900px) {
	.header {
		&__nav {
			display: none;
		}

		&__wrapper-btn {
			display: block;
		}

		&__burger {
			display: block;
			order: 1;
		}
	}

	.medical-item {
		&__btns {
			flex-direction: column;
			align-items: start;
		}

		&__wrapper-btn {
			margin-bottom: 20px;

			&:first-child {
				order: 1;
				margin: 0;
			}
		}
	}
}

@media(max-width: 870px) {
	.write-us {
		overflow: hidden;

		&__background {
			height: 430px;

			&-img {
				margin-top: 40px;
			}
		}
	}

	.footer {
		&__top {
			display: flex;
		}

		&__info, &__social {
			width: auto;
		}

		&__info {
			display: block;
			margin-bottom: 0;
		}

		&__location, &__phone, &__email {
			margin-bottom: 25px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__social {
			&-item {
				margin-right: 15px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.medical-steps {
		&__item {
			width: 100%;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.tab-section {
		&-children {
			&__wrapper-tabs-navigation {
				display: block;
			}

			&__tab {
				flex-direction: column;
				align-items: start;
			}

			&-tab {
				&__info {
					order: 1;
					margin-right: 0;
				}

				&__img {
					max-width: 100%;
					margin-bottom: 20px;
				}
			}
		}
	}

	.contacts-info {
		&__background {
			height: 100%;
		}

		&__inner {
			grid-template-columns: 1fr;
			padding: 20px 0;
			// margin-top: -20px;
		}

		&__left {
			margin-bottom: 30px;
		}

		&__center {
			margin-bottom: 30px;
		}

		&__right {
			justify-self: start;
		}

		&__social {
			justify-content: start;
			
			&-link {
				margin-right: 30px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.contacts-feedback {
		&__inner {
			display: block;
		}

		&__left, &__right {
			width: 100%;
			max-width: none;
		}

		&__img {
			margin-bottom: 30px;
		}
	}

	.about-us-comfort {
		&__items {
			flex-direction: column;
		}

		&__item {
			width: 100%;
		}
	}
}

@media(max-width: 800px) {
	.blog {
		&-slide {
			&__link {
				display: none;
			}
		}
	}
}

@media(max-width: 768px) {
	.header {
		&__wrapper-btn {
			display: none;
		}
	}

	.our-directions {
		&__item {
			&-info {
				flex-direction: column;
			}

			&-left {
				order: 1;
			}

			&-right {
				flex-direction: row;
				align-items: center;
				margin-bottom: 23px;
			}

			&-title {
				max-width: 170px;
				margin-right: 10px;
			}
		}		
	}

	.why-are-we {
		&__item {
			width: 100%;
			margin-bottom: 50px;
		}
	}

	.reviews {
		padding: 120px 0 0;
	}

	.write-us {
		&__background {
			width: 500px;
			height: 500px;
			border-radius: 100%;
			top: 0;
			left: auto;
			right: -252px;
		}
		
		&__inner {
			display: block;
		}
		
		&__left {
			display: none;
		}

		&__right {
			max-width: none;
		}
	}

	.medical-info {
		&__inner {
			// display: block;
			flex-direction: column;
    		align-items: start;
		}

		&__info {
			max-width: none;
			margin-right: 0;
			margin-bottom: 30px;
		}

		&__img {
			max-width: 100%;
		}
	}

	.medical-item {
		&__inner {
			// display: block;
			flex-direction: column;
    		align-items: start;
		}

		&--content-left {
			.medical-item__info {
				max-width: none;
				margin-right: 0;
				margin-bottom: 30px;
			}
		}

		&--content-right {
			.medical-item__info {
				max-width: none;
				margin-bottom: 30px;
			}

			.medical-item__img {
				order: 1;
				margin-right: 0;
				// margin-bottom: 30px;
			}
		}

		&__img {
			max-width: 100%;
		}
	}

	.tab-section {
		&__tabs-navigation {
			justify-content: start;
			flex-wrap: wrap;
		}

		&-tabs {
			&__btn {
				width: 50%;
				justify-content: space-between;

				&:nth-child(3) {
					border-width: 0px 1px 1px 1px
				}

				&:nth-child(4) {
					border-width: 0px 1px 1px 0px
				}
			}
			
			&__btn-green {
				width: 50%;
			}
		}
	}	

	.services-prices {
		&-item {
			&__header {
				padding: 20px 15px;
			}

			&__elems-inner {
				padding: 20px 15px;
			}
		}
	}
}

@media(max-width: 650px) {
	.section {
		padding: 100px 0;

		&__title {
			font-size: 32px;
			line-height: 1.187;
		}
	}

	.tab-section {
		&-tab {
			&__title {
				font-size: 32px;
			}
		}
	}

	.stages-work {
		&__tab {
			min-height: auto;
			width: 100%;

			&-minor {
				padding: 30px 20px;

				.stages-work-tab__text {
					margin-bottom: 20px;
				}
			}
			
			&.active {
				width: 100%;

				.stages-work__tab-main {
					padding: 30px 20px;
				}

				.stages-work-tab__count {
					margin-bottom: 10px;
				}

				.stages-work-tab__title {
					font-size: 20px;
					margin-bottom: 20px;
				}

				.stages-work-tab__img {
					margin-bottom: 20px;
				}
			}

			&:nth-child(2), &:nth-child(4) {
				.stages-work__tab-minor {
					border-width: 2px 2px 2px 2px;
				}
			}
		}

		&-tab {
			&__count {
				margin-bottom: 10px;
			}

			&__title {
				margin-bottom: 10px;
			}
		}
	}

	.reviews {
		padding: 100px 0 0;
	}

	.write-us {
		padding: 0;
	}

	.footer {
		&__nav {
			grid-template-columns: 1fr;
		}

		&__nav-item {
			margin-bottom: 35px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-nav-item {
			&__title {
				margin-bottom: 15px;
			}
		}

		&-opening-hours {
			&__title {
				margin-bottom: 15px;
			}
		}

		&__opening-hours {
			width: 96%;
		}

		&__bottom {
			flex-direction: column;
			padding: 30px 0 50px;
		}

		&__copyright {
			margin-bottom: 30px;
		}

		&__developed {
			&-text {
				margin-right: 5px;
			}
		}
	}

	.medical-items {
		padding: 100px 0;
	}

	.medical-item {
		// &--dhi {
		// 	padding: 100px 0;
		// }
	
		// &--eyebrows-beards {
		// 	padding: 0 0 100px;
		// }

		// padding: 100px 0;

		// &:first-child {
		// 	padding: 100px 0 0;	
		// }

		// &:last-child {
		// 	padding: 0 0 100px;	
		// }

		margin-bottom: 100px;
	}

	.medical-steps {
		&__item {
			&-count {
				font-size: 32px;
				line-height: 1.187;
			}
		}
	}

	.services-prices-2 {
		padding-bottom: 100px;

		&-item {
			&__header {
				padding-left: 40px;
			}

			&__elems {
				padding: 15px 10px;
			}
		}
	}

	.contacts-feedback {
		&__right {
			padding: 30px 20px;
		}
	}

	.about-us-connection {
		&__inner {
			flex-direction: column;
			align-items: start;
		}

		&__left, &__right {
			max-width: none;
		}

		&__left {
			order: 1;
			margin-right: 0;
		}

		&__right {
			margin-bottom: 50px;
		}

		&__items {
			display: flex;
		}

		&__item-first {
			display: flex;
		}

		&__item {
			width: 50%;
		}
	}

	.directions-item {
		padding-top: 100px;
	}
}

@media(max-width: 600px) {
	.blog {
		&-slide {
			&__link {
				display: block;
			}
		}
	}
}

@media(max-width: 576px) {
    .reviews {
		&-slide {
			&__text {
				margin-bottom: 30px;
			}
		}
	}

	.our-directions {
		&__swiper-slide {
			margin-bottom: 30px;
		}

		&__item {
			&-info {
				flex-direction: row;
			}

			&-left {
				order: 0;
			}

			&-right {
				flex-direction: column;
				align-items: start;
				margin-bottom: 0;
			}

			&-title {
				max-width: none;
				margin-right: 10px;
			}
		}		
	}

	.footer {
		&__top {
			display: block;
			padding: 50px 0 30px;
		}

		&__info {
			margin-bottom: 25px;
		}

		&__social {
			justify-content: start;
			padding: 0 10px;
		}

		&__center {
			padding: 35px 0 30px;
		}
	}

	.blog {
		&__slide {
			&-navigation {
				margin-top: 30px;
			}
		}
	}

	.medical-info-haracteristics {
		&__imgs {
			display: block;
		}

		&__img {
			max-width: 100%;
			width: auto;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.group {
		&__btns {
			flex-direction: column;
			align-items: start;
		}

		&__wrapper-btn {
			margin-bottom: 20px;

			&:first-child {
				order: 1;
				margin: 0;
			}
		}
	}

	.btn--circle--green__wrapper-btn {

	}

	.partner-clinics {
		&__item {
			&-img {
				margin-bottom: 20px;
			}
		}

		&__slide-navigation {
			margin-top: 30px;
		}
	}

	.about-us-company {
		&__top {
			&-left {
				margin-right: 0;
			}

			&-right {
				display: none;
			}
		}
	}

	.about-us-connection {
		&__items {
			display: block;
		}

		&__left {
			width: 100%;
		}

		&__item-first {
			display: none;
		}

		&__item {
			width: 100%;
		}
	}

	.about-us-feedback {
		background-image: none;
		background-color: $light;

		&__inner {
			display: block;
		}

		&__right {
			max-width: none;
			padding: 0;
		}
	}
}

@media(max-width: 480px) {
	.footer {
		&-nav-item__list-columns {
			grid-template-columns: 1fr;
		}
	}

	.tab-section {
		&-tabs {
			&__btn {
				width: 100%;

				&:nth-child(2) {
					border-width: 0px 1px 1px 1px;
				}

				&:nth-child(4) {
					border-width: 0px 1px 1px 1px;
				}
			}

			&__btn-green {
				width: 100%;
			}
		}
	}

	.about-us-comfort {
		&__item {
			display: block;
			margin-top: 41px;

			&:nth-child(2) {
				order: 1;
			}
			&:nth-child(4) {
				order: 2;
			}
		}

		&-item {
			&__left {
				width: 100%;
				padding-left: 0;
				padding-top: 66px;
				margin-left: 0;
				border-radius: 10px 10px 0px 0px;
			}

			&__right {
				border-left: 2px solid $blue;
				border-radius: 0px 0px 10px 10px;
				padding: 30px;
				min-height: 155px;
			}

			&__count {
				top: 0;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
			}

			&__text {
				font-size: 16px;
			}
		}
	}
}

@media(max-width: 420px) {
	.blog {
		&-slide {
			&__link {
				display: none;
			}
		}
	}
}

@media(max-width: 380px) {
	.header {
		&__inner {
			padding: 25px 0 11px;
		}

		&__widget-language {
			display: none;
		}
	}

	.about-company {
		&__background {
			height: 440px;
			border-radius: 0px 10px 10px 0px;
		}

		&__inner {
			padding-top: 40px;
		}

		&__wrapper-btn, &__btn {
			width: 100%;
		}

		&__text {
			font-size: 17px;

			img {
				border-radius: 10px;
			}
		}
	}

	.our-directions {
		&__item {
			&-info {
				flex-direction: column;
			}

			&-left {
				order: 1;
			}

			&-right {
				flex-direction: row;
				align-items: center;
				margin-bottom: 23px;
			}

			&-title {
				max-width: 170px;
				margin-right: 10px;
			}
		}		
	}

	.why-are-we {
		&-item {
			&__inner {
				padding-left: 0;
			}

			&__top {
				display: flex;
				align-items: center;
				margin-bottom: 20px;
			}

			&__title {
				max-width: 164px;
			}

			&__count {
				width: 92px;
				height: 92px;
				position: relative;
				margin-right: 15px;

				&:before {
					width: 65px;
					height: 65px;
				}

				&-text {
					font-size: 32px;
				}
			}
		}

		&__item {
			margin-bottom: 30px;
		}
	}

	.stages-work {
		padding: 40px 0;

		&__background {
			border-radius: 0px 10px 10px 0px;
		}
	}
	
	.reviews {
		&-slide {
			&__mark {
				margin-right: 20px;
			}
		}
	}

	.write-us {
		&__text {
			font-size: 16px;
		}
	}

	.blog {
		&-slide {
			&__date {
				left: 20px;
			}

			&__title {
				margin-bottom: 15px;
			}
		}
	}

	.footer {
		&__social {
			justify-content: space-between;
		}
	}

	.breadcrumbs {
		&__inner {
			padding: 40px 0 50px;
		}
	}

	.services-prices-2 {
		&-item__elem {
			&-title {
				max-width: 140px;
			}
		}
	}

	.contacts-info {
		&__social {
			justify-content: space-between;

			&-link {
				margin-right: 0;
			}
		}
	}

	.about-us-company {
		&__top {
			margin-bottom: 50px;
		}
		
		&__title {
			margin-bottom: 30px;
		}

		&__bottom {
			margin: 0 -22px;
		}
	}
}

@media(max-width: 350px) {
	.our-directions {
		&__item {
			&-img {
				width: 100%;
			}
		}
	}
}

@media(max-width: 331px) {
	.about-us-comfort {
		&__background {
			height:  136px;
		}

		&__title {
			padding: 30px 0;
			margin-bottom: 30px;
		}
	}
}