@media(max-width: 1800px) {
	.about-company {
		&__background {
			width: 100%;
		}
	}

	.why-are-we {
		&__background {
			display: none;
		}

		&__item {
			max-width: none;
		}
	}

	.reviews {
		&__background {
			display: none;
		}

		&__left {
			max-width: none;
		}
	}
}

@media(max-width: 1200px) {
   .about-company {
		&__left {
			padding: 0;
			margin-right: 50px;
		}
    }

   .write-us {
		&__left {
			// margin-right: 0;
			margin-right: 30px;
		}

		&__background-img {
			img {
				max-width: 100%;
			}
		}
	}
}

@media(max-width: 1100px) {
	.header {
		&__wrapper-btn {
			display: none;
		}
	}

	.footer {
		&__top {
			display: block;
		}

		&__info {
			width: 100%;
			margin-bottom: 25px;
		}

		&__center {
			grid-template-columns: 67.1% 26.9%;
		}
	}
}

@media(max-width: 992px) {
    .about-company {
		&__inner {
			flex-wrap: wrap;
		}

		&__left, &__right {
			width: 100%;
		}

		&__left {
			margin-right: 20px;
		}

		&__img {
			display: none;
		}

		&__text {
			img {
				display: block;
				max-width: 100%;
				margin-bottom: 20px;
			}
		}

		&__wrapper-link {
			display: none;
		}

		&__wrapper-btn {
			display: block;
		}

		&__wrapper-btn {
			margin-top: 30px;
		}
	}

	.write-us {
		&__left {
			margin-left: 0;
		}

		&__right {
			padding-top: 100px;
		}
	}

	.footer {
		&__center {
			grid-template-columns: 1fr;
		}

		&__nav {
			grid-template-columns: repeat(2, 1fr);
			margin-bottom: 35px;
			column-gap: 20px;
		}

		&-nav-item__list {
			column-gap: 20px;
		}

		&-nav-item__list-column {
			display: grid;
			grid-template-columns: 40.9% 45.5%;
			justify-content: space-between;
		}

		&__opening-hours {
			width: 46%;
		}
	}
}

@media(max-width: 870px) {
	.header {
		&__nav {
			display: none;
		}

		&__wrapper-btn {
			display: block;
		}

		&__burger {
			display: block;
		}
	}

	.write-us {
		&__background {
			height: 430px;

			&-img {
				margin-top: 40px;
			}
		}
	}

	.footer {
		&__top {
			display: flex;
		}

		&__info, &__social {
			width: auto;
		}

		&__info {
			display: block;
			margin-bottom: 0;
		}

		&__location, &__phone, &__email {
			margin-bottom: 25px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__social {
			&-item {
				margin-right: 15px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

@media(max-width: 800px) {
	.blog {
		&-slide {
			&__link {
				display: none;
			}
		}
	}
}

@media(max-width: 768px) {
	.header {
		&__wrapper-btn {
			display: none;
		}
	}

	.why-are-we {
		&__item {
			width: 100%;
		}
	}

	.write-us {
		&__background {
			width: 500px;
			height: 500px;
			border-radius: 100%;
			top: 0;
			left: auto;
			right: -252px;
		}
		
		&__inner {
			display: block;
		}
		
		&__left {
			display: none;
		}

		&__right {
			max-width: none;
		}
	}
}

@media(max-width: 650px) {
	.section {
		padding: 100px 0;

		&__title {
			font-size: 32px;
			line-height: 1.187;
		}
	}

	.write-us {
		padding: 0;
	}

	.footer {
		&__nav {
			grid-template-columns: 1fr;
		}

		&__nav-item {
			margin-bottom: 35px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-nav-item {
			&__title {
				margin-bottom: 15px;
			}
		}

		&-opening-hours {
			&__title {
				margin-bottom: 15px;
			}
		}

		&__opening-hours {
			width: 96%;
		}

		&__bottom {
			flex-direction: column;
			padding: 30px 0 50px;
		}

		&__copyright {
			margin-bottom: 30px;
		}

		&__developed {
			&-text {
				margin-right: 5px;
			}
		}
	}
}

@media(max-width: 600px) {
	.blog {
		&-slide {
			&__link {
				display: block;
			}
		}
	}
}

@media(max-width: 576px) {
    .reviews {
		&-slide {
			&__text {
				margin-bottom: 30px;
			}
		}
	}

	.footer {
		&__top {
			display: block;
			padding: 50px 0 30px;
		}

		&__info {
			margin-bottom: 25px;
		}

		&__social {
			justify-content: start;
			padding: 0 10px;
		}

		&__center {
			padding: 35px 0 30px;
		}
	}

	.blog {
		&__slide {
			&-navigation {
				margin-top: 30px;
			}
		}
	}
}

@media(max-width: 480px) {
	.footer {
		&-nav-item__list-columns {
			grid-template-columns: 1fr;
		}
	}
}

@media(max-width: 420px) {
	.blog {
		&-slide {
			&__link {
				display: none;
			}
		}
	}
}

@media(max-width: 380px) {
	.header {
		&__inner {
			padding: 25px 0 11px;
		}

		&__widget-language {
			display: none;
		}
	}

	.about-company {
		&__background {
			height: 440px;
			border-radius: 0px 10px 10px 0px;
		}

		&__inner {
			padding-top: 40px;
		}

		&__wrapper-btn, &__btn {
			width: 100%;
		}

		&__text {
			font-size: 17px;

			img {
				border-radius: 10px;
			}
		}
	}
	
	.reviews {
		&-slide {
			&__mark {
				margin-right: 20px;
			}
		}
	}

	.write-us {
		&__text {
			font-size: 16px;
		}
	}

	.blog {
		&-slide {
			&__date {
				left: 20px;
			}

			&__title {
				margin-bottom: 15px;
			}
		}
	}

	.footer {
		&__social {
			justify-content: space-between;
		}
	}
}