$blue: #0061AD;
$black: #000;
$grey: #888888;
$green: #79B73A;
$purple: #3550A7;
$white: #fff;
$pink: #F22283;
$light: #F2F8FE;
$light-blue: #BFD5E3;
$dark-blue: #003763;

// $color: #92A1AF;



$rubik: 'Rubik', sans-serif;