@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'mixins.scss';



body {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
	font-family: $rubik;
	color: $black;
	background-color: $white;
}

.container {
	max-width: 1164px;
	margin: 0 auto;
	padding: 0 22px;
}

/* SECTION */
.section {
	padding: 120px 0;	

	&__title {
		font-size: 36px;
		line-height: 1.194;
		margin-bottom: 50px;
	}
}
/* SECTION */

/* HEADER */
.header {
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 14px 0;
		position: relative;
	}

	&__logo {
		&-link {
		}

		&-img {
		}
	}

	&__widget-language {
		position: relative;
		cursor: pointer;
		padding-right: 16px;

		&:after {
			content: "";
			display: block;
			background-image: url('@img/green-arrow.svg');
			width: 12px;
			height: 6px;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		&.active {
			&:after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}

	&-widget__language-text {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.166;
		color: $green;
	}

	&__nav {
	}

	&-nav {
		&__list {
			display: flex;
		}

		&__item {
			margin-right: 25px;

			&:last-child {
				margin-right: 0;
			}
		}

		&__link {
			font-size: 16px;
			line-height: 1.187;
			color: $black;
			transition: .3s linear color;

			&.have-children {
				position: relative;
				padding-right: 16px;

				&:before {
					content: "";
					display: block;
					width: 12px;
					height: 6px;
					background-image: url('@img/nav-arrow.svg');
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					transition: .3s linear background-image;
				}

				&:hover {
					&:before {
						background-image: url('@img/nav-green-arrow.svg');
					}
				}
			}

			&:hover {
				color: $green;

				&:before {
					background-image: url('@img/nav-green-arrow.svg');
				}
			}
		}

		&__link:hover + .header-nav__menu {
			opacity: 1;
			z-index: 100;
		}

		&__menu {
			opacity: 0;
			z-index: -100;
			transition: .3s linear opacity;

			position: absolute;
			left: 0;
			top: 85%;
			width: 100%;
			background-color: #F2F8FE;
			
			border-radius: 10px;
			padding: 30px 40px 40px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 40px 40px;

			&.active {
				opacity: 1;
				z-index: 100;
			}

			&-item {
			}
		}

		&-menu {
			&__main-link {
				display: block;
				font-size: 16px;
				color: #000000;
				margin-bottom: 11px;
				max-width: 160px;
			}
	
			&__children-links {
			}
	
			&__children-item {
				margin-bottom: 5px;
			}
	
			&__children-link {
				font-size: 16px;
				line-height: 19px;
				color: $dark-grey;
			}
		}
	}

	&__burger {
		width: 30px;
		height: 22px;
		position: relative;
		cursor: pointer;
		display: none;

		&-item {
			display: block;
			width: 100%;
			height: 2px;
			background-color: $black;
			position: absolute;
			transition: .3s linear transform;

			&:first-child {
				top: 0;
			}

			&:nth-child(2) {
				top: 10px;
				width: 20px;
			}

			&:last-child {
				bottom: 0;
			}
		}

		&.active {
			z-index: 1010;
		}

		&.active &-item:first-child {
			transform: rotate(45deg);
			top: 10px;
		}

		&.active &-item:nth-child(2) {
			display: none;
		}

		&.active &-item:last-child {
			transform: rotate(-45deg);
			bottom: 10px;
		}
	}

	// &__burger-menu {
		
	// }
}
.burger-menu {
	display: none;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: $light;
	width: 100%;
	z-index: 1000;
	padding: 0 25px;
	overflow: auto;

	&__list {
		padding: 80px 0;
	}

	&__top {
		margin-bottom: 40px;
		display: flex;
		align-items: center;

		&.active {
			.burger-menu__link {
				margin-left: 15px;
				order: 1;
			}

			.burger-menu__img {
				transform: rotate(90deg) ;
			}
		}
	}

	&__item {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		display: block;
		font-size: 16px;
		color: #000000;
		margin-right: 15px;
	}

	&__img {
		width: 12px;
		height: 6px;
		cursor: pointer;
		transform: rotate(-90deg);
	}

	&__items {
		display: none;
	}

	&__children {
		&-item {
			margin-bottom: 20px;
		}

		&-link {
			font-size: 16px;
			color: #92A1AF;
		}
	}
}
/* HEADER */

/* CUSTOM */
.wrapper-btn--blue {
	background-color: $light-blue;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
	// display: inline-block;
}

.btn--blue {
	background-color: $blue;
	color: $white;
	padding: 17px 26px;
	border-radius: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.187;
	transition: .3s linear transform;

	&:hover {
		transform: translate3d(4px, 4px, 0)
	}
}

.stroke--blue {
	border-bottom: 2px solid rgba(191, 213, 227, 0.7);
	width: 100%;
	transition: .3s linear width;
}

.btn--learn-more {
	display: block;
	width: 90px;
	height: 90px;
	background-color: $green;
	border-radius: 100%;
	position: relative;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
}

.btn--circle--blue {
	width: 43px;
	height: 40px;
	border: 2px solid $blue;
	border-radius: 100%;
	position: relative;

	&:after {
		content: "";
		display: block;
		width: 20px;
		height: 16px;
		background-image: url('@img/arrow-right-blue.svg');
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
}
/* CUSTOM */

/* INTRO */
.intro {
	margin-top: 70px;

	&__swiper {
		padding-bottom: 40px !important;
	}

	&__swiper-wrapper {

	}

	&__swiper-slide {

	}
	
	&__slide-left {
	}

	&__slide-right {
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
		height: 100%;

		&-inner {
			position: relative;
		}
	}

	&-slide {
		&__navigation-wrapper {
			position: relative;
			height: 22px;
		}

		&__navigation.swiper-pagination {
			position: absolute !important;
			
			left: 22px !important;
			bottom: 20px !important;
		}

		&__subtitle {
			font-size: 24px;
			line-height: 1.166;
			margin-bottom: 32px;
		}

		&__title {
			max-width: 703px;
			font-size: 86px;
			line-height: 110%;
			margin-bottom: 57px;
		}

		&__text {
			max-width: 269px;
			font-size: 16px;
			line-height: 130%;
			color: $grey;
			margin-bottom: 168px;
		}

		// .btn--learn-more {
		// 	display: block;
		// 	width: 90px;
		// 	height: 90px;
		// 	background-color: $green;
		// 	border-radius: 100%;
		// 	position: relative;
		
		// 	img {
		// 		position: absolute;
		// 		top: 50%;
		// 		left: 50%;
		// 		transform: translate3d(-50%, -50%, 0);
		// 	}
		// }

		&__link {
			position: absolute;
			left: -45px;
			bottom: -40px;
		}
		// &__img {
		// 	position: absolute;
		// 	top: 0;
		// 	right: 0;
		// 	z-index: -1;
		// 	height: 100%;
		// }
	}
}
/* INTRO */

/* SWIPER */
.swiper-pagination {
	position: static !important;
	text-align: left !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
	width: 9px;
	height: 9px;
	background-color: $light-blue;
	opacity: 1;
	margin: 0 !important;
	margin-right: 6px !important;

	&:last-child {
		margin-right: 0 !important;
	}
}

.swiper-pagination-bullet-active {
	width: 35px !important;
	height: 9px !important;
	background-color: $blue !important;
	border-radius: 20px !important;
}
/* SWIPER */

/* OUR-DIRECTIONS */
.our-directions {
	&__title {

	}

	&__swiper {
		
	}

	&__swiper-wrapper {

	}

	&__swiper-slide {
		margin-top: 0 !important;
		margin-bottom: 40px;

		&:hover .stroke--blue {
			width: 170px;
		}
	}

	.swiper-grid-column>.swiper-wrapper {
		flex-direction: row;
	}

	&__swiper-items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}

	&__swiper-item {
		// width: 33.3333%;
		// padding: 0 10px;
		// margin-bottom: 40px;

		// &:hover .stroke--blue {
		// 	width: 170px;
		// }
	}

	&__item {
		&-info {
			margin-top: 15px;
			display: flex;
			// justify-content: space-between
		}

		&-left {
			margin-right: 20px;
		}

		&-right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&-img {
			border-radius: 10px;
		}

		&-title {
			font-size: 20px;
			line-height: 1.2;
		}
		
		&-link {
			display: block;
			width: 50px;
			height: 50px;
			background-color: $green;
			border-radius: 100%;
			position: relative;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0)
			}
		}
	}

	&__slide-navigation {
		display: flex;
		justify-content: center;
	}
}
/* OUR-DIRECTIONS */

/* ABOUT-COMPANY */
.about-company {
	position: relative;

	&__background {
		width: 85%;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		height: 373px;
		background-color: $light;
		border-radius: 0px 40px 40px 0px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		padding-top: 50px;
	}

	&__left {
		padding-left: 94px;
		margin-right: 115px;
	}
	&__right {
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
		height: 100%;
	}

	&__titles {

	}
	
	&__img {
		border-radius: 40px;
	}

	&__title {
		margin-bottom: 10px;
	}

	&__text {
		// margin-bottom: 140px;

		p {
			line-height: 1.4;
			display: flex;
			align-items: center;
			color: $dark-grey;
			margin-bottom: 19px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		img {
			display: none;
			border-radius: 40px;
		}
	}

	&__wrapper-link {

	}

	&__link {
		display: inline-block;
		padding: 17px 41px;
	}

	&__wrapper-btn {
		display: none;
	}
	
	&__btn {
		padding: 17px 10px;
	}
}
/* ABOUT-COMPANY */

/* WHY-ARE-WE */
.why-are-we {
	overflow: hidden;
	position: relative;

	&__title {

	}

	&__content {
		// display: flex;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -33px;
		margin-bottom: -71px;
	}

	&__item {
		padding: 0 33px;
		width: 50%;
		margin-bottom: 71px;
		max-width: 486px;
	}

	&-item {
		&__inner {
			padding-left: 121px;
			position: relative;
		}

		&__count {
			width: 98px;
			height: 98px;
			background-color: $green;
			background-color: rgba(121, 183, 58, 0.4);
			border-radius: 100%;
			position: absolute;
			left: 0;

			&:before {
				content: "";
				display: block;
				width: 74px;
				height: 74px;
				background-color: $green;
				border-radius: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
			}

			&-text {
				font-weight: 600;
				font-size: 36px;
				line-height: 140%;
				color: $white;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
			}
		}

		&__info {
		}

		&__title {
			font-size: 24px;
			line-height: 140%;
			margin-bottom: 5px;
		}

		&__text {
			font-size: 16px;
			line-height: 140%;
			color: $grey;
		}
	}

	&__big-circle {
		width: 453px;
		height: 453px;
		background-color: $light-blue;
		border-radius: 100%;
		position: absolute;
		right: 75px;
		bottom: 42px;
	}

	&__small-circle {
		width: 61px;
		height: 61px;
		background-color: $blue;
		border-radius: 100%;
		position: absolute;
		right: 50px;
		bottom: 211px;
	}

	&__background {
		position: absolute;
		z-index: -1;
		right: 84px;
		width: 632px;
		height: 495px;
		bottom: 0;

		&-item {
			position: absolute;
			bottom: 0;
			z-index: 100;
			width: 632px;
			height: 421px;
			background-image: url('@img/why-are-we/background.png');
		}
	}
}
/* WHY-ARE-WE */

/* STAGES-WORK */
.stages-work {
	position: relative;

	&__background {
		width: 85%;
		height: 100%;
		background-color: $light;
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		border-radius: 40px 0px 0px 40px;
	}

	&__title {

	}

	&__tabs {
		display: flex;
		flex-wrap: wrap;
	}

	&__tab {
		min-height: 500px;
		width: 18.2%;
		// cursor: pointer;

		&-minor, &-main {
			height: 100%;
		}

		&-minor {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			background: #FFFFFF;
			border-width: 2px 2px 2px 0px;
			border-style: solid;
			border-color: #B6B6B6;
			border-radius: 10px;

			padding: 40px 9px 40px 24px;
		}

		&:first-child {
			.stages-work__tab-minor {
				border-width: 2px 2px 2px 2px;
			}
		}

		&-main {
			display: none;
		}

		&-info {
		
		}

		&.active {
			width: 45.4%;
			cursor: auto;

			// &:first-child {
			// 	.stages-work__tab-minor {
			// 		border-width: 2px 2px 2px 2px;
			// 	}
			// }

			.stages-work__tab {
				&-minor {
					display: none;
				}

				&-main {
					display: block;
					padding: 40px 26px;
					background: $blue;
					// border: 3px solid $blue;
					border-radius: 10px;
				}
			}

			.stages-work-tab {
				&__count {
					font-weight: 500;
					font-size: 32px;
					line-height: 1.187;
					color: $white;
				}

				&__title {
					font-weight: 500;
					font-size: 22px;
					line-height: 140%;
					display: flex;
					align-items: center;
					color: $white;
					margin-bottom: 15px;
				}

				&__img {
					max-width: 100%;
					margin-bottom: 28px;
				}

				&__text {
					p {
						color: $white;
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	&-tab {
		&__title {
			color: #707070;
			margin-bottom: 26px;
		}

		&__img {
			// display: none;
		}

		&__text {
			font-size: 16px;
			line-height: 130%;
			color: #B6B6B6;
			word-break: break-word;
		}

		&__count {
			font-weight: 500;
			font-size: 28px;
			line-height: 1.178;
			color: #B6B6B6;
			margin-bottom: 15px;
		}

		&__btn {

		}
	}
}
/* STAGES-WORK */

/* REVIEWS */
.reviews {
	&__wrapper {
		position: relative;
	}

	&__inner {
		// display: flex;
	}

	&__left {
		max-width: 685px;
	}

	&__right {

	}

	&__title {
		margin-bottom: 40px;
	}

	&__swiper {
		// max-width: 685px;

		&-wrapper {

		}

		&-slide {

		}
	}

	&__slide {
		&-navigation {

		}
	}

	&-slide {
		&__left-inner {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
		}

		&-left {

		}

		&__info {
		}

		&__text {
			// max-width: 685px;
			line-height: 130%;
			margin-bottom: 60px;

			a {
				color: #888888;
			}
		}

		&__mark {
			margin-left: -8px;
			margin-right: 24px;
		}

		&__fio {
			font-size: 20px;
			line-height: 140%;
			margin-bottom: 8px;
		}

		&__date {
			font-size: 16px;
			line-height: 140%;
			color: #888888;
		}
	}

	&__background {
		position: absolute;
		top: 0;
		right: 191px;

		img {
			border-radius: 40px;
			// transform: matrix(-1, 0, 0, 1, 0, 0);
		}
	}
}
/* REVIEWS */

/* CONTACTS */
.write-us {
	padding: 0;
	position: relative;
	// overflow: hidden;

	&__background {
		width: 46%;
		position: absolute;
		z-index: -1;
		top: 98px;
		left: 0;
		height: 528px;
		background-color: $light;
		border-radius: 0px 40px 40px 0px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__left {
		// position: relative;
		// width: 1107px;
		// height: 626px;
		width: 514px;
		height: 581px;
		margin-right: 165px;
		margin-left: 100px;
	}

	&__right {
		padding-top: 120px;
		max-width: 360px;
	}

	&__title {
		margin-bottom: 10px;
	}

	&__text {
		line-height: 140%;
		color: #888888;
		margin-bottom: 20px;
	}

	&__form {
	}

	&__form {
		&-input {
			// background: $white;
			// border: 1px solid $black;
			// border-radius: 10px;
		}

		&-textarea {
			height: 120px;
			resize: none;
		}

		&-input, &-textarea {
			display: block;
			width: 100%;

			background: $white;
			border: 1px solid $black;
			border-radius: 10px;
			padding: 14px 20px;
			margin-bottom: 15px;

			&::placeholder {
				font-size: 16px;
				line-height: 1.187;
				color: #888888;
			}
		}

		&-btn {
			// margin-top: 30px;
		}
	}

	&__wrapper-btn {
		margin-top: 30px;
		margin-bottom: 4px;
	}
	
	&__form-btn {
		padding: 17px 46px;
		text-align: center;
		cursor: pointer;
	}

	&__background-img {
		position: relative;
	}

	// &__big-circle {
	// 	width: 514px;
	// 	height: 514px;
	// 	background-color: $light-blue;
	// 	border-radius: 100%;
	// 	position: absolute;
	// 	z-index: -1;
	// 	bottom: 0;
	// 	left: 50%;
	// 	transform: translateX(-50%)
	// }

	&__small-circle {
		width: 74px;
		height: 74px;
		background-color: $green;
		border-radius: 100%;
		position: absolute;
		left: 15px;
		top: 134px;
	}
}
/* CONTACTS */

/* BLOG */
.blog {
	&__title {

	}
	&__swiper {

	}
	&__swiper-wrapper {

	}

	&__slide-navigation {
		margin-top: 40px;
		display: flex;
    	justify-content: center;
	}

	&__swiper-slide {

	}

	&-slide {
		&__img {
			position: relative;
			margin-bottom: 44px;

			img {
				// max-width: 100%;
				width: 100%;
			}
		}

		&__title {
			font-size: 20px;
			margin-bottom: 10px;
		}

		&__bottom-row {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__date {
			display: inline-block;
			background-color: $green;
			border-radius: 10px;
			padding: 11px 15px;
			position: absolute;
			bottom: -20px;
			left: 30px;

			font-size: 16px;
			line-height: 1.187;
			color: $white;
		}

		&__text {
			max-width: 285px;
			font-size: 16px;
			line-height: 19px;
			display: flex;
			align-items: center;
			color: $grey;
		}

		&__link {
			width: 53px;
			height: 53px;
			border: 1px solid $green;
			border-radius: 100%;
			position: relative;

			&:before {
				content: "";
				display: block;
				width: 21px;
    			height: 19px;
				background-image: url('@img/arrow-right-grey.svg');
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0)
			}
		}
	}
}
/* BLOG */

/* FOOTER */
.footer {
	background-color: $dark-blue;

	&__top {
		padding: 56px 0;
		display: flex;
		justify-content: space-between;
	}

	&__info {
		width: 77.6%;
		display: flex;
		justify-content: space-between;
	}

	&__location {
	}

	&__phone {
	}

	&__email {
	}

	&__social {
		width: 15%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-item {

		}
	}

	&__phone, &__email {
		transition: .3s linear color;

		&:hover h5 {
			color: $white;
		}
	}

	&__location, &__phone, &__email {
		display: flex;
		align-items: center;
	}

	&__location, &__phone, &__email {
		&-text {
			font-size: 16px;
			line-height: 1.187;
			color: #F2F8FE;
			transition: .3s linear color;
		}

		&-icon {
			display: flex;
		}
	}

	&__location {
		align-items: start;

		&-icon {
			margin-right: 24px;
		}

		&-text {
		}
	}

	&__phone {
		&-icon {
			margin-right: 19px;
		}

		&-text {
		}
	}

	&__email {
		&-icon {
			margin-right: 17px;
		}

		&-text {
		}
	}

	&__stroke {
		border-bottom: 2px solid #3A638B;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 18px 0;
	}

	&__copyright {
		font-size: 16px;
		line-height: 1.187;
		color: $light;
	}

	&__developed {
		display: flex;
		align-items: center;

		&-text {
			font-size: 16px;
			line-height: 130%;
			color: $light;
			margin-right: 11px;
		}

		&-logo {
		}
	}
}

.footer {
	&__center {
		padding: 56px 0;
		display: grid;
		grid-template-columns: 67.1% 22.9%;
		justify-content: space-between;
	}

	&__nav {
		display: grid;
		grid-template-columns: 19.1% 66.6%;
		justify-content: space-between;

		&-item {
			&_list {
			}
		}
	}

	&-nav-item {
		&__title {
			font-weight: 500;
			font-size: 20px;
			color: $white;
			margin-bottom: 30px;
		}

		&__list {
			&-columns {
				display: grid;
				grid-template-columns: 40.9% 45.5%;
				justify-content: space-between;
			}

			&-inner {
			}

			&-left {
			}

			&-right {
			}

			&-item {
				margin-bottom: 10px;
			}

			&-link {
				font-size: 16px;
				line-height: 1.187;
				color: $light;
				transition: .3s linear;

				&:hover {
					color: $white;
				}
			}
		}
	}

	&__opening-hours {
		// justify-self: end;
	}

	&-opening-hours {
		&__title {
			font-weight: 500;
			font-size: 20px;
			color: $white;
			margin-bottom: 30px;
		}

		&__list {
			&-item {
				display: grid;
				grid-template-columns: 1fr 0.77fr;
				margin-bottom: 10px;
			}
		}

		&__item {
			&-day, &-hours {
				font-size: 16px;
				line-height: 1.187;
				color: $light
			}
		}
	}
}
/* FOOTER */

/*	BREADCRUMBS */
.breadcrumbs {
	&__inner {
		display: flex;
		padding: 40px 0 60px;
	}

	&__link, &__delimiter, &__current {
		font-size: 16px;
		line-height: 1.187;
		color: #B6B6B6;
	}

	&__delimiter {
		margin: 0 6px;
	}
}
/*	BREADCRUMBS */

/* HAIR-TRANSPLANTATION */
.hair-transplantation {
	padding: 0 0 50px 0;

	&__inner {
		display: flex;
		// align-items: center;
		justify-content: space-between;
	}

	&__info {
		max-width: 645px;
	}

	&__title {
		margin-bottom: 35px;
	}

	&__text {
		p {
			font-size: 18px;
			line-height: 120%;
			color: $grey;
			margin-bottom: 19px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__img {
	}
}
/* HAIR-TRANSPLANTATION */

@import "media.scss";