@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'mixins.scss';



body {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
	font-family: $rubik;
	color: $black;
	background-color: $white;
}

.container {
	max-width: 1164px;
	margin: 0 auto;
	padding: 0 22px;
}

/* SECTION */
.section {
	padding: 120px 0;	

	&__title {
		font-size: 36px;
		line-height: 1.194;
		margin-bottom: 50px;
	}
}
/* SECTION */

/* HEADER */
.header {
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 14px 0;
		position: relative;
	}

	&__logo {
		&-link {
		}

		&-img {
		}
	}

	&__widget-language {
		position: relative;
		cursor: pointer;
		padding-right: 16px;

		&:after {
			content: "";
			display: block;
			background-image: url('@img/green-arrow.svg');
			width: 12px;
			height: 6px;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			transition: .3s linear transform;
		}

		&.active {
			&:after {
				transform: translateY(-50%) rotate(180deg);
			}

			.header-widget__language-list {
				opacity: 1;
				z-index: 10;
			}
		}
	}

	&-widget__language-text {
		font-weight: 500;
		// font-size: 18px;
		line-height: 1.166;
		color: $green;
		text-transform: uppercase;
	}

	&-widget__language-list {
		opacity: 0;
		z-index: -100;
		transition: 0.3s linear opacity;
		position: absolute;
		left: 0;
		top: 200%;
		// width: 100%;
		background-color: #F2F8FE;
		border-radius: 10px;
		padding: 10px;
		cursor: auto;
		margin-left: -10px;
	}

	&-widget__language-item {
		display: block;
		cursor: pointer;
		text-transform: uppercase;
		margin-bottom: 6px;
		color: $black;

		&:last-child {
			margin-bottom: 0;
		}

		&.active {
			text-decoration: underline;
		}
	}

	&__nav {
	}

	&-nav {
		&__list {
			display: flex;
		}

		&__item {
			margin-right: 25px;

			&:last-child {
				margin-right: 0;
			}
		}

		&__link {
			font-size: 16px;
			line-height: 1.187;
			color: $black;
			transition: .3s linear color;
			padding: 22px 0;

			&.have-children {
				position: relative;
				padding-right: 16px;

				&:before {
					content: "";
					display: block;
					width: 12px;
					height: 6px;
					background-image: url('@img/nav-arrow.svg');
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					transition: .3s linear background-image, .3s linear transform;
				}

				&:hover {
					&:before {
						background-image: url('@img/nav-green-arrow.svg');
						transform: rotate(180deg);
						top: 45%;
					}
				}
			}

			&:hover {
				color: $green;

				&:before {
					background-image: url('@img/nav-green-arrow.svg');
				}
			}
		}

		&__link:hover + .header-nav__menu {
			opacity: 1;
			z-index: 100;
		}

		&__menu {
			opacity: 0;
			z-index: -100;
			transition: .3s linear opacity;

			position: absolute;
			left: 0;
			top: 85%;
			width: 100%;
			background-color: #F2F8FE;
			
			border-radius: 10px;
			padding: 30px 40px 40px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 40px 40px;

			&:hover {
				opacity: 1;
				z-index: 100;
			}

			// &.active {
			// 	opacity: 1;
			// 	z-index: 100;
			// }

			&-item {
			}
		}

		&-menu {
			&__main-link {
				display: block;
				font-size: 16px;
				color: #000000;
				margin-bottom: 11px;
				max-width: 160px;
			}
	
			&__children-links {
			}
	
			&__children-item {
				margin-bottom: 5px;
			}
	
			&__children-link {
				font-size: 16px;
				line-height: 19px;
				color: $dark-grey;
			}
		}
	}

	&__burger {
		width: 30px;
		height: 22px;
		position: relative;
		cursor: pointer;
		display: none;

		&-item {
			display: block;
			width: 100%;
			height: 2px;
			background-color: $black;
			position: absolute;
			transition: .3s linear transform;

			&:first-child {
				top: 0;
			}

			&:nth-child(2) {
				top: 10px;
				width: 20px;
			}

			&:last-child {
				bottom: 0;
			}
		}

		&.active {
			z-index: 1010;
		}

		&.active &-item:first-child {
			transform: rotate(45deg);
			top: 10px;
		}

		&.active &-item:nth-child(2) {
			display: none;
		}

		&.active &-item:last-child {
			transform: rotate(-45deg);
			bottom: 10px;
		}
	}

	// &__burger-menu {
		
	// }
}
.burger-menu {
	// display: none;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: $light;
	width: 100%;
	z-index: 1000;
	padding: 0 25px;
	overflow: auto;
	transform: translateX(-100%);
	transition: .4s linear transform;

	&.active {
		transform: translateX(0%);
	}

	&__list {
		padding: 80px 0;
	}

	&__top {
		margin-bottom: 30px;
		display: flex;
		align-items: center;

		&.active {
			margin-bottom: 40px;
			
			.burger-menu__link {
				margin-left: 15px;
				order: 1;
			}

			.burger-menu__img {
				transform: rotate(90deg) ;
			}
		}
	}

	&__item {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		display: block;
		font-size: 16px;
		color: #000000;
		margin-right: 15px;
	}

	&__img {
		width: 12px;
		height: 6px;
		cursor: pointer;
		transform: rotate(-90deg);
	}

	&__items {
		display: none;
	}

	&__children {
		&-item {
			margin-bottom: 20px;
		}

		&-link {
			font-size: 16px;
			color: #92A1AF;
		}
	}
}
/* HEADER */

/* CUSTOM */
.wrapper-btn--blue {
	background-color: $light-blue;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
	// display: inline-block;
}

.btn--blue {
	background-color: $blue;
	color: $white;
	padding: 17px 26px;
	border-radius: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.187;
	transition: .3s linear transform;

	&:hover {
		transform: translate3d(4px, 4px, 0)
	}
}

.wrapper-btn--light-blue {
	background-color: $blue;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
	// display: inline-block;
}

.btn--light-blue {
	background-color: $light;
	color: $black;
	padding: 17px 26px;
	border-radius: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.187;
	transition: .3s linear transform;

	&:hover {
		transform: translate3d(-4px, -4px, 0)
	}
}

.stroke--blue {
	border-bottom: 2px solid rgba(191, 213, 227, 0.7);
	width: 100%;
	transition: .3s linear width;
}

.btn--learn-more {
	display: block;
	width: 90px;
	height: 90px;
	background-color: $green;
	border-radius: 100%;
	position: relative;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
}

.btn--circle--blue {
	width: 43px;
	height: 40px;
	border: 2px solid $blue;
	border-radius: 100%;
	position: relative;

	&:after {
		content: "";
		display: block;
		width: 20px;
		height: 16px;
		background-image: url('@img/arrow-right-blue.svg');
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
}

.btn--circle--green__wrapper-btn {
	display: flex;
	align-items: center;
}

.btn--circle--green__text {
	margin-right: 18px;
	font-size: 16px;
	line-height: 1.187;
}

.btn--circle--green {
	width: 27px;
	height: 27px;
	border: 2px solid $green;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .3s linear background-color;

	svg {
		transition: .3s linear transform;

		path, line {
			transition: .3s linear stroke
		}
	}

	&.active {
		svg {
			transform: rotate(-180deg);
		}
	}

	&:hover {
		background-color: $green;

		svg {
			path, line {
				stroke: $white;
			}
		}
	}
}

.group {
	&__btns {
		display: flex;
		align-items: center;
	}

	&__wrapper-btn {
		margin-right: 40px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__btn {

	}
}
/* CUSTOM */

/* INTRO */
.intro {
	margin-top: 70px;

	&__swiper {
		padding-bottom: 40px !important;
	}

	&__swiper-wrapper {

	}

	&__swiper-slide {

	}
	
	&__slide-left {
	}

	&__slide-right {
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
		height: 100%;

		&-inner {
			position: relative;
		}
	}

	&-slide {
		&__navigation-wrapper {
			position: relative;
			height: 22px;
		}

		&__navigation.swiper-pagination {
			position: absolute !important;
			
			left: 22px !important;
			bottom: 20px !important;
		}

		&__subtitle {
			font-size: 24px;
			line-height: 1.166;
			margin-bottom: 32px;
		}

		&__title {
			max-width: 703px;
			font-size: 86px;
			line-height: 110%;
			margin-bottom: 57px;
		}

		&__text {
			max-width: 269px;
			font-size: 16px;
			line-height: 130%;
			color: $grey;
			margin-bottom: 168px;
		}

		// .btn--learn-more {
		// 	display: block;
		// 	width: 90px;
		// 	height: 90px;
		// 	background-color: $green;
		// 	border-radius: 100%;
		// 	position: relative;
		
		// 	img {
		// 		position: absolute;
		// 		top: 50%;
		// 		left: 50%;
		// 		transform: translate3d(-50%, -50%, 0);
		// 	}
		// }

		&__link {
			position: absolute;
			left: -45px;
			bottom: -40px;
		}
		// &__img {
		// 	position: absolute;
		// 	top: 0;
		// 	right: 0;
		// 	z-index: -1;
		// 	height: 100%;
		// }

		&__bottom-content {
			display: none;
			margin-top: 34px;
		}
	}
}
/* INTRO */

/* SWIPER */
.swiper-pagination {
	position: static !important;
	text-align: left !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
	width: 9px;
	height: 9px;
	background-color: $light-blue;
	opacity: 1;
	margin: 0 !important;
	margin-right: 6px !important;

	&:last-child {
		margin-right: 0 !important;
	}
}

.swiper-pagination-bullet-active {
	width: 35px !important;
	height: 9px !important;
	background-color: $blue !important;
	border-radius: 20px !important;
}
/* SWIPER */

/* OUR-DIRECTIONS */
.our-directions {
	&__title {

	}

	&__swiper {
		
	}

	&__swiper-wrapper {

	}

	&__swiper-slide {
		margin-top: 0 !important;
		margin-bottom: 40px;

		&:hover .stroke--blue {
			width: 170px;
		}
	}

	.swiper-grid-column>.swiper-wrapper {
		flex-direction: row;
	}

	&__swiper-items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}

	&__swiper-item {
		// width: 33.3333%;
		// padding: 0 10px;
		// margin-bottom: 40px;

		// &:hover .stroke--blue {
		// 	width: 170px;
		// }
	}

	&__item {
		&-info {
			margin-top: 15px;
			display: flex;
			// justify-content: space-between
		}

		&-left {
			margin-right: 20px;
		}

		&-right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&-img {
			border-radius: 10px;
		}

		&-title {
			font-size: 20px;
			line-height: 1.2;
		}
		
		&-link {
			display: block;
			width: 50px;
			height: 50px;
			background-color: $green;
			border-radius: 100%;
			position: relative;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0)
			}
		}
	}

	&__slide-navigation {
		display: flex;
		justify-content: center;
	}
}
/* OUR-DIRECTIONS */

/* ABOUT-COMPANY */
.about-company {
	position: relative;

	&__background {
		width: 85%;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		height: 373px;
		background-color: $light;
		border-radius: 0px 40px 40px 0px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		padding-top: 50px;
	}

	&__left {
		padding-left: 94px;
		margin-right: 115px;
	}
	&__right {
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
		height: 100%;
	}

	&__titles {

	}
	
	&__img {
		border-radius: 40px;
	}

	&__title {
		margin-bottom: 10px;
	}

	&__text {
		// margin-bottom: 140px;

		p {
			line-height: 1.4;
			display: flex;
			align-items: center;
			color: $dark-grey;
			margin-bottom: 19px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		img {
			display: none;
			border-radius: 40px;
		}
	}

	&__wrapper-link {

	}

	&__link {
		display: inline-block;
		padding: 17px 41px;
	}

	&__wrapper-btn {
		display: none;
	}
	
	&__btn {
		padding: 17px 10px;
	}
}
/* ABOUT-COMPANY */

/* WHY-ARE-WE */
.why-are-we {
	overflow: hidden;
	position: relative;

	&__title {

	}

	&__content {
		// display: flex;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -33px;
		margin-bottom: -71px;
	}

	&__item {
		padding: 0 33px;
		width: 50%;
		margin-bottom: 71px;
		max-width: 486px;
	}

	&-item {
		&__inner {
			padding-left: 121px;
			position: relative;
		}

		@keyframes animation-name {   
			0% {     
				background-color: rgba(121, 183, 58, 0.2);
			}   
			50% {     
				background-color: rgba(121, 183, 58, 0.4);
			} 
			100% {
				background-color: rgba(121, 183, 58, 0.2);	
			}
		  }

		&__count {
			width: 98px;
			height: 98px;
			// background-color: $green;
			background-color: rgba(121, 183, 58, 0.4);
			border-radius: 100%;
			position: absolute;
			left: 0;
			animation: animation-name 2s ease infinite;

			&:before {
				content: "";
				display: block;
				width: 74px;
				height: 74px;
				background-color: $green;
				border-radius: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
			}

			&-text {
				font-weight: 600;
				font-size: 36px;
				line-height: 140%;
				color: $white;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
			}
		}

		&__info {
		}

		&__title {
			font-size: 24px;
			line-height: 140%;
			margin-bottom: 5px;
		}

		&__text {
			font-size: 16px;
			line-height: 140%;
			color: $grey;
		}
	}

	&__big-circle {
		width: 453px;
		height: 453px;
		background-color: $light-blue;
		border-radius: 100%;
		position: absolute;
		right: 75px;
		bottom: 42px;
	}

	&__small-circle {
		width: 61px;
		height: 61px;
		background-color: $blue;
		border-radius: 100%;
		position: absolute;
		right: 50px;
		bottom: 211px;
	}

	&__background {
		position: absolute;
		z-index: -1;
		right: 84px;
		width: 632px;
		height: 495px;
		bottom: 0;

		&-item {
			position: absolute;
			bottom: 0;
			z-index: 100;
			width: 632px;
			height: 421px;
			background-image: url('@img/why-are-we/background.png');
		}
	}
}
/* WHY-ARE-WE */

/* STAGES-WORK */
.stages-work {
	position: relative;

	&__background {
		width: 85%;
		height: 100%;
		background-color: $light;
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		border-radius: 40px 0px 0px 40px;
	}

	&__title {

	}

	&__tabs {
		display: flex;
		flex-wrap: wrap;
	}

	&__tab {
		min-height: 500px;
		width: 18.2%;
		// cursor: pointer;

		&-minor, &-main {
			height: 100%;
		}

		&-minor {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			background: #FFFFFF;
			border-width: 2px 2px 2px 0px;
			border-style: solid;
			border-color: #B6B6B6;
			border-radius: 10px;

			padding: 40px 9px 40px 24px;
		}

		&:first-child {
			.stages-work__tab-minor {
				border-width: 2px 2px 2px 2px;
			}
		}

		&-main {
			display: none;
		}

		&-info {
		
		}

		&.active {
			width: 45.4%;
			cursor: auto;

			// &:first-child {
			// 	.stages-work__tab-minor {
			// 		border-width: 2px 2px 2px 2px;
			// 	}
			// }

			.stages-work__tab {
				&-minor {
					display: none;
				}

				&-main {
					display: block;
					padding: 40px 26px;
					background: $blue;
					// border: 3px solid $blue;
					border-radius: 10px;
				}
			}

			.stages-work-tab {
				&__count {
					font-weight: 500;
					font-size: 32px;
					line-height: 1.187;
					color: $white;
				}

				&__title {
					font-weight: 500;
					font-size: 22px;
					line-height: 140%;
					display: flex;
					align-items: center;
					color: $white;
					margin-bottom: 15px;
				}

				&__img {
					max-width: 100%;
					margin-bottom: 28px;
				}

				&__text {
					p {
						color: $white;
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	&-tab {
		&__title {
			color: #707070;
			margin-bottom: 26px;
		}

		&__img {
			// display: none;
		}

		&__text {
			font-size: 16px;
			line-height: 130%;
			color: #B6B6B6;
			word-break: break-word;
		}

		&__count {
			font-weight: 500;
			font-size: 28px;
			line-height: 1.178;
			color: #B6B6B6;
			margin-bottom: 15px;
		}

		&__btn {

		}
	}
}
/* STAGES-WORK */

/* REVIEWS */
.reviews {
	&__wrapper {
		position: relative;
	}

	&__inner {
		// display: flex;
	}

	&__left {
		max-width: 685px;
	}

	&__right {

	}

	&__title {
		margin-bottom: 40px;
	}

	&__swiper {
		// max-width: 685px;

		&-wrapper {

		}

		&-slide {

		}
	}

	&__slide {
		&-navigation {
			display: flex;
		}
	}

	&-slide {
		&__left-inner {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
		}

		&-left {

		}

		&__info {
		}

		&__text {
			// max-width: 685px;
			line-height: 130%;
			margin-bottom: 60px;

			span {
				&:last-child {
					display: none;
				}
			}

			a {
				color: #888888;
			}
		}

		&__mark {
			margin-left: -8px;
			margin-right: 24px;
		}

		&__fio {
			font-size: 20px;
			line-height: 140%;
			margin-bottom: 8px;
		}

		&__date {
			font-size: 16px;
			line-height: 140%;
			color: #888888;
		}
	}

	&__background {
		position: absolute;
		top: 0;
		right: 191px;

		img {
			border-radius: 40px;
			// transform: matrix(-1, 0, 0, 1, 0, 0);
		}
	}
}
/* REVIEWS */

/* CONTACTS */
.write-us {
	padding: 0;
	position: relative;
	// overflow: hidden;

	&__background {
		width: 46%;
		position: absolute;
		z-index: -1;
		top: 98px;
		left: 0;
		height: 528px;
		background-color: $light;
		border-radius: 0px 40px 40px 0px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__left {
		// position: relative;
		// width: 1107px;
		// height: 626px;
		width: 514px;
		height: 581px;
		margin-right: 165px;
		margin-left: 100px;
	}

	&__right {
		padding-top: 120px;
		max-width: 360px;
	}

	&__title {
		margin-bottom: 10px;
	}

	&__text {
		line-height: 140%;
		color: #888888;
		margin-bottom: 20px;
	}

	&__form {
	}

	&__form {
		&-input {
			// background: $white;
			// border: 1px solid $black;
			// border-radius: 10px;
		}

		&-textarea {
			height: 120px;
			resize: none;
		}

		&-input, &-textarea {
			display: block;
			width: 100%;

			background: $white;
			border: 1px solid $black;
			border-radius: 10px;
			padding: 14px 20px;
			margin-bottom: 15px;

			&::placeholder {
				font-size: 16px;
				line-height: 1.187;
				color: #888888;
			}
		}

		&-btn {
			// margin-top: 30px;
		}
	}

	&__wrapper-btn {
		margin-top: 30px;
		margin-bottom: 4px;
	}
	
	&__form-btn {
		padding: 17px 46px;
		text-align: center;
		cursor: pointer;
	}

	&__background-img {
		position: relative;
	}

	// &__big-circle {
	// 	width: 514px;
	// 	height: 514px;
	// 	background-color: $light-blue;
	// 	border-radius: 100%;
	// 	position: absolute;
	// 	z-index: -1;
	// 	bottom: 0;
	// 	left: 50%;
	// 	transform: translateX(-50%)
	// }

	&__small-circle {
		width: 74px;
		height: 74px;
		background-color: $green;
		border-radius: 100%;
		position: absolute;
		left: 15px;
		top: 134px;
	}
}
/* CONTACTS */

/* BLOG */
.blog {
	&__title {

	}
	&__swiper {

	}
	&__swiper-wrapper {

	}

	&__slide-navigation {
		margin-top: 40px;
		display: flex;
    	justify-content: center;
	}

	&__swiper-slide {

	}

	&-single {
		padding-bottom: 120px;

		&__items {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;
			margin-bottom: -40px;
		}

		&__item {
			width: 50%;
			padding: 0 10px;
			margin-bottom: 40px;
		}
	}

	&-slide, &-single {
		&__img {
			position: relative;
			margin-bottom: 44px;

			img {
				// max-width: 100%;
				width: 100%;
			}
		}

		&__title {
			display: block;
			color: #000;
			font-size: 20px;
			margin-bottom: 10px;
		}

		&__bottom-row {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__date {
			display: inline-block;
			background-color: $green;
			border-radius: 10px;
			padding: 11px 15px;
			position: absolute;
			bottom: -20px;
			left: 30px;

			font-size: 16px;
			line-height: 1.187;
			color: $white;
		}

		&__text {
			max-width: 285px;
			font-size: 16px;
			line-height: 19px;
			display: flex;
			align-items: center;
			color: $grey;
		}

		&__link {
			width: 53px;
			height: 53px;
			border: 1px solid $green;
			border-radius: 100%;
			position: relative;

			&:before {
				content: "";
				display: block;
				width: 21px;
    			height: 19px;
				background-image: url('@img/arrow-right-grey.svg');
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0)
			}
		}
	}
}
/* BLOG */

/* FOOTER */
.footer {
	background-color: $dark-blue;

	&__top {
		padding: 56px 0;
		display: flex;
		justify-content: space-between;
	}

	&__info {
		width: 77.6%;
		display: flex;
		justify-content: space-between;
	}

	&__location {
	}

	&__phone {
	}

	&__email {
	}

	&__social {
		width: 15%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-item {

		}
	}

	&__phone, &__email {
		transition: .3s linear color;

		&:hover h5 {
			color: $white;
		}
	}

	&__location, &__phone, &__email {
		display: flex;
		align-items: center;
	}

	&__location, &__phone, &__email {
		&-text {
			font-size: 16px;
			line-height: 1.187;
			color: #F2F8FE;
			transition: .3s linear color;
		}

		&-icon {
			display: flex;
		}
	}

	&__location {
		align-items: start;

		&-icon {
			margin-right: 24px;
		}

		&-text {
		}
	}

	&__phone {
		&-icon {
			margin-right: 19px;
		}

		&-text {
		}
	}

	&__email {
		&-icon {
			margin-right: 17px;
		}

		&-text {
		}
	}

	&__stroke {
		border-bottom: 2px solid #3A638B;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 18px 0;
	}

	&__copyright {
		font-size: 16px;
		line-height: 1.187;
		color: $light;
	}

	&__developed {
		display: flex;
		align-items: center;

		&-text {
			font-size: 16px;
			line-height: 130%;
			color: $light;
			margin-right: 11px;
		}

		&-logo {
		}
	}
}

.footer {
	&__center {
		padding: 56px 0;
		display: grid;
		grid-template-columns: 67.1% 22.9%;
		justify-content: space-between;
	}

	&__nav {
		display: grid;
		grid-template-columns: 19.1% 66.6%;
		justify-content: space-between;

		&-item {
			&_list {
			}
		}
	}

	&-nav-item {
		&__title {
			font-weight: 500;
			font-size: 20px;
			color: $white;
			margin-bottom: 30px;
		}

		&__list {
			&-columns {
				display: grid;
				grid-template-columns: 40.9% 45.5%;
				justify-content: space-between;
			}

			&-inner {
			}

			&-left {
			}

			&-right {
			}

			&-item {
				margin-bottom: 10px;
			}

			&-link {
				font-size: 16px;
				line-height: 1.187;
				color: $light;
				transition: .3s linear;

				&:hover {
					color: $white;
				}
			}
		}
	}

	&__opening-hours {
		// justify-self: end;
	}

	&-opening-hours {
		&__title {
			font-weight: 500;
			font-size: 20px;
			color: $white;
			margin-bottom: 30px;
		}

		&__list {
			&-item {
				display: grid;
				grid-template-columns: 1fr 0.77fr;
				margin-bottom: 10px;
			}
		}

		&__item {
			&-day, &-hours {
				font-size: 16px;
				line-height: 1.187;
				color: $light
			}
		}
	}
}
/* FOOTER */

/*	BREADCRUMBS */
.breadcrumbs {
	&__inner {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding: 40px 0 60px;
		color: #B6B6B6;
	}

	&__link, &__delimiter, &__current {
		font-size: 16px;
		line-height: 1.187;
		color: #B6B6B6;
	}

	&__delimiter {
		margin: 0 6px;
	}
}
/*	BREADCRUMBS */

.medical-info {
	// &--fue {
	// 	padding: 0 0 50px 0;
	// }

	// &--dhi {
	// 	padding: 120px 0;
	// }

	// &--eyebrows-beards {
	// 	padding: 0 0 120px;
	// }

	padding: 0 0 50px 0;

	&-single {
		padding-bottom: 120px;

		// .medical-info__text {
		// 	p {
		// 		&:last-child {
		// 			display: none;
		// 		}
		// 	}
		// }
	}

	&--content-right {

	}

	&__inner {
		display: flex;
		// align-items: center;
		justify-content: space-between;
		// align-items: start;
	}

	&__info {
		max-width: 645px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__title {
		margin-bottom: 35px;
	}

	&__text {
		/* LISHN */
		color: $grey;
		/* LISHN */

		p {
			// font-size: 18px;
			line-height: 120%;
			color: $grey;
			margin-bottom: 19px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__img {
		border-radius: 10px;
		height: 100%;
	}
}

/* HAIR-TRANSPLANTATION-ITEM */
.medical-items {
	padding: 120px 0;
}
.medical-item {
	// &--fue {
	// 	padding: 0 0 50px 0;
	// }

	// &--dhi {
	// 	padding: 120px 0;
	// }

	// &--eyebrows-beards {
	// 	padding: 0 0 120px;
	// }

	// padding: 120px 0;

	// &:first-child {
	// 	padding: 120px 0 0;	
	// }

	// &:last-child {
	// 	padding: 0 0 120px;	
	// }

	margin-bottom: 120px;

	&:last-child {
		margin-bottom: 0;
	}

	&--content-right {

	}

	&__inner {
		display: flex;
		// align-items: center;
		justify-content: space-between;
		// align-items: start;
	}

	&__info {
		max-width: 645px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__title {
		margin-bottom: 35px;
	}

	&__text {
		color: #888;

		p {
			// font-size: 18px;
			line-height: 120%;
			color: $grey;
			margin-bottom: 19px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__img {
		border-radius: 10px;
		height: 100%;
	}

	&__btns {
		margin-top: 20px;
	}
}
/* HAIR-TRANSPLANTATION-ITEM */

/* HAIR-TRANSPLANTATION-INFO */
.medical-info-haracteristics {
	padding: 50px 0;
	position: relative;

	&__background {
		width: 1522px;
		height: 100%;
		background-color: #F2F8FE;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		border-radius: 0px 40px 40px 0px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__imgs {
	}

	&__texts {
		max-width: 550px;
		padding-right: 97px;
	}

	&__img {
		margin-bottom: 43px;
		border-radius: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__text {
		&-item {
			margin-bottom: 35px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-title {
			font-size: 20px;
			margin-bottom: 20px;
		}

		&-paragraph {
			color: $dark-grey;
		}
	}
}
/* HAIR-TRANSPLANTATION-INFO */

/* MEDICAL-STEPS */
.medical-steps {
	padding-top: 50px;

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		margin-bottom: 30px;
	}

	&__item {
		width: 33.3333%;
		padding: 0 10px;
		overflow: hidden;

		&-top {
			display: flex;
			align-items: center;
			// margin-bottom: 20px;
		}

		&-text {
			max-height: 0;
			transition: .3s linear max-height;

			&.show {
			}

			color: $grey;
		}

		&-count {
			font-weight: 600;
			font-size: 36px;
			line-height: 1.194;
			color: $green;
			margin-right: 25px;
		}

		&-title {
			font-size: 20px;
		}
	}

	// &__btns {
	// 	display: flex;
	// 	align-items: center;
	// }

	// &__wrapper-btn {
	// 	margin-right: 40px;

	// 	&:last-child {
	// 		margin-right: 0;
	// 	}
	// }
}
/* MEDICAL-STEPS */

/* TAB-SECTION */
.tab-section {
	&__background {
	}
	&__tabs {
		&-navigation {
			display: flex;
			justify-content: end;
		}
		&-navigation-green {
			display: flex;
			flex-wrap: wrap;
			
			// .tab-section-tabs__btn {
			// 	flex-grow: 1;
			// }

			// .tab-section-tabs__btn {
			// 	border-style: none;
			// 	border-radius: 0;
			// 	border-color: none;
			// 	background: none;
			// }
		}

		&-content {
		}
	}
	&__tabs-navigation + .tab-section__tabs-content .tab-section__children-tabs {
		padding-top: 35px !important;
	}
	&__tabs-navigation-green + .tab-section__tabs-content .tab-section__children-tabs {
		padding-top: 55px !important;
	}
	&__tab {
	}
	&-tabs {
		&__btn {
			background: $light;
			border-width: 1px 1px 1px 0px;
			border-style: solid;
			border-color: $light-blue;
			border-radius: 10px 10px 0px 0px;
			padding: 14px 13px 14px 18px;

			display: flex;
    		align-items: center;

			&:first-child {
				border-width: 1px 1px 1px 1px;
			}

			&:hover {
				.tab-section-tabs-btn__text {
					color: #484848;
				}
			}
		}
		&-btn {
			&__text {
				font-weight: 400;
				font-size: 16px;
				line-height: 1.197;
				color: $grey;
				margin-right: 11px;
				transition: .3s linear color;
			}
			// &__icon {
			// 	width: 20px;
			// 	height: 20px;
			// 	border: 1px solid $light-blue;
			// 	border-radius: 100%;
			// }
		}
		&__btn-green {
			flex-grow: 1;
			padding: 24px 10px;

			&.active {
				border-bottom: 3px solid $green;

				.tab-section-tabs-btn__text-green {
					color: $black;
				}
			}
		}
		&-btn {
			&__text-green {
				font-size: 20px;
				line-height: 24px;
				color: $grey;

			}
		}
	}
	&-tab {
		&__background {
			position: absolute;
			left: 0;
			z-index: -1;
			width: 1522px;
			height: 72px;
			background: $light;
			border-radius: 0px 0px 10px 0px;
		}

		&__title {
			display: inline-block;
			font-size: 36px;
			line-height: 1.194;
			// background: $light;
			// border-radius: 0px 0px 10px 0px;
			padding: 15px 0;
			// margin-bottom: 35px;
			position: relative;
			
			// &:before {
			// 	content: "";
			// 	display: block;
			// 	width: 100%;
			// 	height: 3px;
			// 	background-color: $green;
			// 	position: absolute;
			// 	top: -3px;
			// }
		}
	}

	&__children-tabs {
		display: flex;
		justify-content: space-between;
		// padding-top: 35px;
	}

	&-children {
		&__wrapper-tabs-navigation {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: start;
			margin-right: 40px;
		}
		&__wrapper-tabs-navigation + &__tabs-content {
			max-width: 741px;
		}
		&__wrapper-tabs-navigation + &__tabs-content {
			.tab-section-children-tab__info {
				margin-right: 20px;
			}
		}
		&__tabs-navigation {
			margin-bottom: 20px;
		}
		&__tabs-content {
			// max-width: 741px;
		}
		&__tab {
			display: none;

			&:first-child {
				display: flex;
				justify-content: space-between;
			}
		}
		&-tab {
			&__wrapper-btn {
				margin-right: 134px;
			}

			&__text {
				color: $grey;
				margin-bottom: 20px;
			}

			&__info {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				margin-right: 118px;
			}

			&__text + &__wrapper-link {
				margin-bottom: 13px;
			}

			&__img {
				border-radius: 10px;
				object-fit: cover;
				height: 100%;
			}
		}
		&__text {
		}
		&-tabs__btn {
			font-size: 18px;
			line-height: 120%;
			display: block;
			font-weight: 500;
			color: $grey;
			margin-bottom: 15px;
			text-align: left;
			padding-right: 19px;
			position: relative;
			transition: .3s linear color;

			&:hover {
				color: #484848;
			}

			&:after {
				content: "";
				display: block;
				width: 9px;
				height: 12px;
				background-image: url('@img/green-arrow-right.vg.svg');
				position: absolute;
				top: 5px;
				right: 0;
			}

			&.active {
				color: $green;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
/* TAB-SECTION */

.directions-item {
	padding-top: 120px;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 120px;
	}
}

/* PLASTIC-SURGERY */
.plastic-surgery {
	&__title {
		margin-bottom: 35px;
	}

	&__tab {
		display: none;

		&:first-child {
			display: block;
		}
	}
}

.plastic-surgery-dir {
	&__item {
		padding-bottom: 120px;
		
		&:last-child {
			padding-bottom: 0;
		}
	}
}
/* PLASTIC-SURGERY */

/* HAIR-TRANSPLANTATION */
.hair-transplantation {
	&__title {
		margin-bottom: 35px;
	}

	&__tab {
		display: none;

		&:first-child {
			display: block;
		}
	}
}
/* HAIR-TRANSPLANTATION */

/* BARIATRICS */
.bariatrics {
	&__title {
		margin-bottom: 35px;
	}

	&__tab {
		display: none;

		&:first-child {
			display: block;
		}
	}
}
/* BARIATRICS */

/* DENTISTRY */
.dentistry {
	&__title {
		margin-bottom: 35px;
	}

	&__tab {
		display: none;

		&:first-child {
			display: block;
		}
	}
}
/* DENTISTRY */

/* REPRODUCTIVE-MEDICINE */
.reproductive-medicine {
	&__title {
		margin-bottom: 35px;
	}

	&__tab {
		display: none;

		&:first-child {
			display: block;
		}
	}
}
/* REPRODUCTIVE-MEDICINE */

/* ORGAN-TRASPLANTATION */
.organ-trasplantation {
	&__title {
		margin-bottom: 35px;
	}

	&__tab {
		display: none;

		&:first-child {
			display: block;
		}
	}
}
/* ORGAN-TRASPLANTATION */

/* ONCOLOGY */
.oncology {
	&__title {
		margin-bottom: 35px;
	}

	&__tab {
		display: none;

		&:first-child {
			display: block;
		}
	}
}
/* ONCOLOGY */

/* ORTHOPEDICS */
.orthopedics {
	&__title {
		margin-bottom: 35px;
	}

	&__tab {
		display: none;

		&:first-child {
			display: block;
		}
	}
}
/* ORTHOPEDICS */

/* LASER-VISION-CORRECTION */
.laser-vision-correction {
	&__title {
		margin-bottom: 35px;
	}

	&__tab {
		display: none;

		&:first-child {
			display: block;
		}
	}
}
/* LASER-VISION-CORRECTION */

/* PARTNER-CLINICS */
.partner-clinics {
	&__title {

	}
	&__swiper {

	}
	&__swiper-wrapper {

	}
	&__slide-navigation {
		margin-top: 40px;
		display: flex;
		justify-content: center;
	}
	&__swiper-slide {

	}
	&__item {
		&-img {
			max-width: 100%;
			width: 100%;
			margin-bottom: 30px;
		}
		&-title {
			font-size: 20px;
			margin-bottom: 15px;
		}
		&-text {
			font-size: 16px;
			color: $grey;
		}
	}
}
/* PARTNER-CLINICS */

/* services-prices-2 */
.services-prices-2 {
	padding-bottom: 120px;

	&__title {

	}
	&__items {

	}
	&__item {
		padding-left: 25px;

		&:first-child {
			.services-prices-2-item__header {
				border-radius: 10px 10px 0px 0px;
			}
		}

		&:last-child {
			.services-prices-2-item__elems {
				border-bottom: 2px solid $blue;
			}
		}
	}
	&-item {
		&__header {
			background: $blue;
			padding: 26px 0;
			padding-left: 66px;
			position: relative;
		}
		&__count {
			width: 49px;
			height: 49px;
			background-color: $green;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			// font-weight: 600;
			// font-size: 20px;
			// color: $white;

			position: absolute;
			left: -25px;
			top: 50%;
			transform: translateY(-50%);
		}
		&__count, &__title {
			font-weight: 600;
			font-size: 20px;
			color: $white;
		}
		&__title {
			
		}
		&__elems {
			border-left: 2px solid $blue;
			border-right: 2px solid $blue;
			padding: 36px 126px 36px 66px;
			// padding-left: 66px;
		}
		&__elem {
			// display: flex;
			// justify-content: space-between;
			// align-items: center;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-bottom: 25px;

			&:last-child {
				margin-bottom: 0;
			}

			&-title {
				max-width: 273px;
				margin-right: 40px;
			}

			&-subtitle {
				font-weight: 500;
				color: $green;
				justify-self: end;
			}
		}
	}
}
/* services-prices-2 */

/* CONTACTS-INFO */
.contacts-info {
	position: relative;

	&__background {
		position: absolute;
		z-index: -1;
		top: 50%;
		transform: translateY(-50%);
		width: 90%;
		height: 90%;
		background-color: $light;
		border-radius: 0px 40px 40px 0px;
	}

	&__inner {
		display: grid;
		grid-template-columns: 23.6% 32.5% 23.9%;
		justify-content: space-between;
		align-items: center;
	}
	&__left {
	}
	&__center {
		border-radius: 10px;
		overflow: hidden;

		iframe {
			width: 100%;
		}
	}
	&__right {
		justify-self: end;
	}
	&__left-top {
	}
	&__social {
		display: flex;
		justify-content: space-between;
		padding: 30px 0 0 0;

		&-link {
		}
	
		&-item {
			width: 43px;
			height: 43px;
			background: rgba(0, 97, 173, 0.4);
			border-radius: 100%;
			position: relative;
			transition: .3s linear transform;

			&:before {
				content: "";
				display: block;
				width: 33px;
				height: 33px;
				background-color: $blue;
				border-radius: 100%;
				position: absolute;
				z-index: 10;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
			}

			svg {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
				z-index: 20;
			}

			&:hover {
				transform: scale(1.05);
			}
		}
	}

	&__location, &__phone, &__email {
		display: flex;
		padding: 16px 10px;

		&-text {
			font-size: 16px;
			line-height: 1.187;
		}
	}

	&__phone, &__email {
		&-text {
			color: $black;
		}
	}

	&__location, &__email {
		position: relative;

		&:before, &:after {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background-color: $light-blue;
			position: absolute;
			left: 0;
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}
	}

	&__location {
		&-icon {
			margin-right: 25px;
		}

		&-text {
			max-width: 170px;
		}
	}
	&__phone {
		&-icon {
			margin-right: 22px;
		}

		&-text {
			
		}
	}
	&__email {
		&-icon {
			margin-right: 24px;
		}

		&-text {
			
		}
	}

	&__hours {
		
	}

	&-hours {
		&__title {
			font-size: 24px;
			line-height: 1.166;
			margin-bottom: 30px;
		}

		&__list {
			&-item {
				display: grid;
				grid-template-columns: 1fr 1fr;
				margin-bottom: 10px;
				column-gap: 40px;
			}
		}

		&__item {
			&-day, &-hours {
				font-size: 16px;
				line-height: 1.187;
				color: $dark-grey;
			}
		}
	}
}
/* CONTACTS-INFO */

/* CONTACTS-FEEDBACK */
.contacts-feedback {
	position: relative;

	&__background {
		position: absolute;
		z-index: -1;
		bottom: 0;
		right: 0;
		width: 90%;
		height: 382px;
		background-color: $light;
		border-radius: 40px 0 0 40px;
	}
	&__inner {
		display: flex;
		align-items: center;
	}
	&__left {
		width: 540px;
		height: 378px;
		margin-right: 115px;
		position: relative;
	}
	&__right {
		max-width: 455px;
		background-color: $blue;
		padding: 50px 50px 50px 45px;
		border-radius: 10px;
	}
	&__img {
		max-width: 100%;
		border-radius: 10px;
		position: absolute;
		left: -80px;
	}
	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 1.166;
		color: $white;
		margin-bottom: 15px;
	}
	&__text {
		color: $light;
		margin-bottom: 30px;
	}
	&__form {
	}
	&-form {
		&__input, &__textarea, &__submit {
			display: block;
		}
		&__input, &__textarea {
			width: 100%;
			background-color: $white;
			border-radius: 10px;
			margin-bottom: 15px;
			padding: 13px 20px;
			font-size: 16px;
			line-height: 1.187;

			&::placeholder {
				color: $grey;
			}
		}
		&__input {
			height: 47px;
		}
		&__textarea {
			height: 120px;
		}
		&__wrapper-btn {
			margin-top: 40px;
		}
		&__btn {
			padding: 17px 47px;
			cursor: pointer;
		}
	}
}
/* CONTACTS-FEEDBACK */

/* ABOUT-US-COMPANY */
.about-us-company {
	position: relative;
	overflow: hidden;

	&__background {
		width: 60%;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		height: 373px;
		background-color: #F2F8FE;
		border-radius: 0px 40px 40px 0px;
	}

	&__inner {
		padding-top: 40px;
	}

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 40px;

		&-left {
			max-width: 683px;
			margin-right: 58px;
		}
		&-right {
			max-width: 437px;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__bottom {
	}
	&__title {
		margin-bottom: 35px;
	}
	&__text {
		color: #515151;
	}
	&__link {

	}
	&__img {
		border-radius: 10px;
		max-width: 100%;
	}
}
/* ABOUT-US-COMPANY */

/* ABOUT-US-CONNECTION */
.about-us-connection {
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__left {
		max-width: 550px;
		margin-right: 30px;
	}
	&__right {
		max-width: 455px;
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		margin-bottom: -20px;
	}
	&__title {
		margin-bottom: 35px;
	}
	&__text {
		p {
			color: #515151;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__item-first {
		width: 50%;
		padding: 0 10px;
		margin-bottom: 20px;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__item {
		width: 50%;
		// background: $blue;
		// border-radius: 10px;
		// padding: 57px 42px 68px;
		padding: 0 10px;
		margin-bottom: 20px;
	}
	&__inner {
		
	}
	&-item-first {
		&__inner {
			width: 191px;
			height: 191px;
			border: 2px solid $green;
			border-radius: 100%;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__text {
			max-width: 147px;
			text-align: center;

			font-size: 16px;
			color: #515151;
		}
	}
	&-item {
		&__inner {
			padding: 57px 42px 68px;
			text-align: center;
			background: $blue;
			border-radius: 10px;
		}

		&__text {

		}

		&__count {
			font-size: 72px;
			color: $white;
			margin-bottom: 10px;
		}

		&__subtitle {
			max-width: 180px;
			margin: 0 auto;
			color: $white;
		}
	}
}
/* ABOUT-US-COMFORT */

/* */
.about-us-comfort {
	position: relative;

	&__background {
		position: absolute;
		left: 0;
		z-index: -1;
		width: 1522px;
		height: 72px;
		background: #F2F8FE;
		border-radius: 0px 10px 10px 0px;
	}

	&__title {
		padding: 14px 0;
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		margin-bottom: -20px;
	}
	&__item {
		display: flex;
		margin-bottom: 20px;
		width: 50%;
		position: relative;
		padding: 0 10px;
	}

	&-item {
		&__left {
			// width: 78px;
			padding-left: 78px;
			background: #0061AD;
			border-radius: 10px 0px 0px 10px;
			margin-left: 41px;
		}

		&__right {
			border: 2px solid #0061AD;
			border-left: none;
			border-radius: 0 10px 10px 0;
			padding: 30px 43px;
			width: 100%;
		}

		&__count {
			width: 81px;
			height: 81px;
			background-color: $green;
			border-radius: 100%;

			display: flex;
			align-items: center;
			justify-content: center;

			font-weight: 600;
			font-size: 32px;
			line-height: 1.187;
			color: $white;

			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
		}

		&__text {
			color: #515151;
		}
	}
}
/* ABOUT-US-COMFORT */

/* ABOUT-US-FEEDBACK */
.about-us-feedback {
	// background-image: url('@img/about-us-feedback/background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 50px 0;

	&__inner {
		display: flex;
		justify-content: end
	}

	&__left {
		width: 540px;
		height: 378px;
		margin-right: 115px;
		position: relative;
	}
	&__right {
		max-width: 455px;
		background-color: $light;
		padding: 50px 50px 50px 45px;
		border-radius: 10px;
	}
	&__img {
		max-width: 100%;
		border-radius: 10px;
		position: absolute;
		left: -80px;
	}
	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 1.166;
		color: $black;
		margin-bottom: 15px;
	}
	&__text {
		color: $light;
		margin-bottom: 30px;
		color: $black;
	}
	&__form {
	}
	&-form {
		&__input, &__textarea, &__submit {
			display: block;
		}
		&__input, &__textarea {
			width: 100%;
			background-color: $white;
			border-radius: 10px;
			margin-bottom: 15px;
			padding: 13px 20px;
			font-size: 16px;
			line-height: 1.187;
			border: 1px solid $grey;

			&::placeholder {
				color: $grey;
			}
		}
		&__input {
			height: 47px;
		}
		&__textarea {
			height: 120px;
			resize: none;
		}
		&__wrapper-btn {
			margin-top: 40px;
		}
		&__btn {
			padding: 17px 47px;
			cursor: pointer;
		}
	}
}
/* ABOUT-US-FEEDBACK */

/* SERVICES-PRICES */
.services-prices {
	padding: 0 0 120px 0;

	&__title {
	}
	&__items {
	}
	&__item {
		position: relative;
		overflow: hidden;

		&:last-child {
			.services-prices-item__header {
				border-bottom: 2px solid $light-blue;
			}

			.services-prices-item__elems {
				&.active {
					border-top: none;
					border-bottom: 2px solid $light-blue;
				}
			}
		}
	}
	&-item {
		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 31px 96px;
			border-top: 2px solid $light-blue;
			// border-bottom: 2px solid $light-blue;
		}
		&__elems {
			// display: none;
			max-height: 0;
			// position: absolute;
			// opacity: 0;
			padding: 0;
			background-color: #F2F8FE;
			// padding: 33px 96px;
			// padding: 0 96px;
			transition: .3s linear max-height;

			&.active {
				// display: block;
				// padding: 33px 96px;
				// opacity: 1;
				border-top: 2px solid $light-blue;

				.services-prices-item__elems-inner {
					// position: static;
				}
			}
		}
		&__elems-inner {
			padding: 33px 96px;
			// position: absolute;
		}
		&__title {
			font-size: 20px;
		}
		&__btn {

		}
		&__elem {
			max-width: 708px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			&-title {
				max-width: 273px;
				color: $dark-grey;
				margin-right: 30px;
			}
			&-subtitle {
			}
		}
	}
	
}
/* SERVICES-PRICES */

/* MODAL */
.modal {
	position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition: .3s linear;

	&--active {
		visibility: visible;
		opacity: 1;
	}

	&__area {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		// z-index: -1;
	}

	&__wrapper {
		min-height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 15px;
	}

	&__content {
		// width: 480px;
		// background-color: #fff;
		// color: $black;
		// padding: 32px;
		// border-radius: 16px 0 16px 16px;
		position: relative;

		max-width: 455px;
		background-color: #0061AD;
		padding: 50px 50px 50px 45px;
		border-radius: 10px;

		// transform: perspective(600px) translateY(-120%) rotateX(45deg);
		// transition: .5s linear;
	}

	&__close {
		width: 48px;
		height: 48px;
		border-radius: 100%;
		background-color: $white;
		filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.16));
		position: absolute;
		right: -24px;
		top: -24px;
		cursor: pointer;
		transition: .3s linear transform;

		&:hover {
			transform: scale(1.11) rotate(360deg);
		}

		&:after, &:before {
			content: "";
			display: block;
			width: 15px;
			height: 2px;
			background-color: #000;
			position: absolute;
			top: 50%;
			left: 50%;
		}

		&:after {
			transform: translate3d(-50%, -50%, 0) rotate(45deg);
		}

		&:before {
			transform: translate3d(-50%, -50%, 0) rotate(135deg);
		}
	}

	&__info {
		margin-bottom: 16px;
	}

	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 1.166;
		color: $white;
		margin-bottom: 15px;
	}

	&__text {
		color: $light;
    	margin-bottom: 30px;
	}

	&__error-message, &__recaptcha-error {
		font-size: 14px;
		line-height: 19px;
		color: #999;
		margin-top: 16px;
		// display: none;
	}

	&__alert {
		max-width: 250px;
		position: fixed;
		z-index: 300;
		top: 70px;
		right: 16px;
		padding: 10px;
		background-color: #350268;
		display: none;
	}

	&-alert {
		&__text {
			flex-direction: column;
			font-size: 14px;
			line-height: 1.357;
		}
	}
}

.form {
	&__input, &__textarea, &__submit {
		display: block;
	}
	&__input, &__textarea {
		width: 100%;
		background-color: $white;
		border-radius: 10px;
		margin-bottom: 15px;
		padding: 13px 20px;
		font-size: 16px;
		line-height: 1.187;

		&::placeholder {
			color: $grey;
		}
	}
	&__input {
		height: 47px;
	}
	&__textarea {
		height: 120px;
	}
	&__wrapper-btn {
		margin-top: 40px;
	}
	&__btn {
		padding: 17px 47px;
		cursor: pointer;
	}
}
/* MODAL */


/* CLINICS */
.clinics, .useful-information {
	padding-bottom: 120px;

	&__title {
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		margin-bottom: -40px;
	}

	&__item {
		width: 50%;
		padding: 0 10px;
		margin-bottom: 40px;
	}

	&-item {
		&__img {
			max-width: 100%;
			width: 100%;
			margin-bottom: 30px;
		}

		&__title {
			font-size: 20px;
			margin-bottom: 15px;
		}

		&__text {
			font-size: 16px;
			color: $grey;
		}
	}
}
/* CLINICS */

/* USEFUL-INFORMATION */
.useful-information {
	&-item {
		&__title {
			color: $black;
		}
	}
}
/* USEFUL-INFORMATION */

/* FORM-ALERT */
.form-alert {
	background-color: pink;
	position: fixed;
	left: 0;
	z-index: 1;
	width: 100%;
	padding: 20px 0;
	top: 0;
	transform: translateY(-101%);
	opacity: 0;
	transition: .3s linear opacity, .3s linear transform;

	&.active {
		opacity: 1;
		transform: translateY(0%);
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__text {
		margin-right: 15px;
	}

	&__close {
		width: 15px;
		height: 15px;
		position: relative;
		cursor: pointer;
		transition: .3s linear transform;

		&:hover {
			transform: scale(1.3);
		}

		&:before, &:after {
			content: "";
			display: block;
			width: 15px;
			height: 2px;
			position: absolute;
			background-color: $black;
		}

		&:before {
			top: 6px;
			transform: rotate(45deg)
		}

		&:after {
			top: 6px;
			transform: rotate(-45deg)
		}
	}
}
/* FORM-ALERT */

.blog-item {
	padding-bottom: 120px;

	&__img {
		max-width: 100%;
		margin-bottom: 30px;
	}

	&__text {
		color:  #888;
	}
}


@import "media.scss";